.container{
    background-color: black;
    margin : auto;
    height: 500px;
}
[class ^= box]{
    width : 100px;
    height: 100px;
    font-size: 30px;
    text-align: center;
    line-height: 100px;
    float : left;
    margin : 2px;
    background-color: white;
}
